main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

@media only screen and (max-width: 600px) {
    main {
        display: block;
        overflow-y: auto;
    }
}

.nav-link span{
    cursor: pointer;
}

/* .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding: 0.375rem 0.75rem;
    background: white;
}
.form-floating>.form-control {
    padding: 0.375rem 0.75rem;
}
.form-floating>.form-control, .form-floating>.form-select {
    height: unset;
    line-height: 1.5;
}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: 1;
    transform: scale(.85) translateY(-1rem) translateX(0.15rem);
    background: white;
    padding: 0 0.25rem;
    margin: 0 0.5rem;
    color: #86b7fe;
    height: 75%;
}
.form-floating>label {
    padding: 0.375rem 0.75rem;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
} */
